<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>
<!--        <h2><span th:if="${session.logInAcc}"> 這段測試文字如果model 有 傳到會顯示</span></h2>-->
<!--        <h4><span th:unless="${session.logInAcc}"> 這段測試文字如果model 沒 傳到會顯示</span></h4>-->
        <p><span th:text="${ logSuess }"> test msg </span></p> <!-- 會傳登入成功訊息 -->
        <p>userName: <span th:text="${ showUserName }"> test msg</span></p>
<!--        <p>test accountnum: <span th:text="${ accountnum }"> test msg</span></p>-->
<!--        <p>test passwd: <span th:text="${ passwd }"> test msg</span></p>-->
<!--        <p>test session:<span th:text="${ session }"> test msg</span></p>-->
        <p>Redirecting to homepage in:<span id="countdown"> 3</span> second</p>

        <script>
            var countdown = 3; // 3 秒
            setInterval(timeCount, 1000);
            function timeCount()
            {
                countdown--; // 每秒減少倒數計時
                document.getElementById("countdown").innerHTML = countdown; // 顯示倒數秒數
                if (countdown<=0) // 倒數計時為 0 時執行跳轉
                {
                    transToLogin();
                }
            }
            function transToLogin()
            {
                location.href = "/homepage"; // 轉到 index.html 頁面
            }
        </script>
</body>
</html>